# Types in Python

#### Numeric Types

##### Interger & Float

In [5]:
int1 = 5
int1

print(int1)

5

In [6]:
int2 = 10
print(int2)

10

In [7]:
int3 = 2000
print(int3)

2000

In [8]:
float1 = 0.5

print(float1)

0.5

In [10]:
float2 = 100.555
print(float2)

100.555

In [13]:
# what is the data type

type(int2)

int

In [14]:
int_to_float = float(int3)

print(int_to_float)

2000.0

In [15]:
type(int_to_float)

float

In [17]:
float_to_int = int(float2)

print(float_to_int)

100

#### Sequence Types

##### Lists

In [18]:
a = [1,2,3,5,10]

a

[1, 2, 3, 5, 10]

In [19]:
b = [8, 9, 10, 20]

In [21]:
c = [1, 'two', 3, 'four']

print(c)

[1, 'two', 3, 'four']

In [24]:
a.append(6)

print(a)

[1, 2, 3, 5, 10, 4, 6]

In [28]:
a.sort()

print(a)

TypeError: '<' not supported between instances of 'list' and 'int'

In [26]:
a.reverse()

print(a)

[10, 6, 5, 4, 3, 2, 1]

In [27]:
a.append(b)

print(a)

[10, 6, 5, 4, 3, 2, 1, [8, 9, 10, 20]]

In [29]:
a.reverse()
a

[[8, 9, 10, 20], 1, 2, 3, 4, 5, 6, 10]

In [38]:
d = a.extend(a)

print(d)

None

In [34]:
a.extend(c)

a

[[8, 9, 10, 20],
 1,
 2,
 3,
 4,
 5,
 6,
 10,
 1,
 'two',
 3,
 'four',
 1,
 'two',
 3,
 'four',
 1,
 'two',
 3,
 'four',
 1,
 'two',
 3,
 'four',
 1,
 'two',
 3,
 'four']

##### Tuples

In [47]:
#basic example

e = tuple(c)

f = tuple(b)

print(e)

print (c)

(1, 'two', 3, 'four')
[1, 'two', 3, 'four']

In [42]:
type(c)

list

In [45]:
ab = (1,2,3,4)
print(ab)

(1, 2, 3, 4)

In [48]:
# Start & Stop

ab = (1,2,3,4)
print(ab)

abc = ab[:2] + f + ab[3:]
print(abc)

(1, 2, 3, 4)
(1, 2, 8, 9, 10, 20, 4)

#### Text Types

##### String

In [49]:
# basic string

'Hello World'

'Hello World'

In [50]:
"hello world"

'hello world'

In [60]:
#Assining a variable to a string

h = '999'
h
print(h)

print ('This variable is a', type(h))

999
This variable is a <class 'str'>

In [61]:
len(h)

3

In [62]:
s = 'abcdefgh'

print("The string '%s' string is %d characters long" %(s, len(s)))

The string 'abcdefgh' string is 8 characters long

In [65]:
# indexing 

s = 'abcdefgh'

print("The string '%s' string is %d characters long" %(s, len(s)))  
print('First character of',s,'is',s[0]) 
print('Last character of',s,'is',s[7])
print('The character of',s,'is',s[len(s)-2])

The string 'abcdefgh' string is 8 characters long
First character of abcdefgh is a
Last character of abcdefgh is h
The character of abcdefgh is g

In [67]:
#letters in string

count = 0 
for letter in 'Hello Worldl':
    if(letter == 'l'):
        count += 1
    print (count,'letters found')

0 letters found
0 letters found
1 letters found
2 letters found
2 letters found
2 letters found
2 letters found
2 letters found
2 letters found
3 letters found
3 letters found
4 letters found

#### Mapping Types

##### Dict

In [10]:
#empty integer keys

dict = {1: "Python", 2:'Java', 100:'C++'} 
dict

{1: 'Python', 2: 'Java', 100: 'C++'}

In [2]:
type(dict)

dict

In [9]:
# dictionary with mixed keys

my_dict2 = {20:"hi","name":666, 1.5:("yes","no"), 9:[1,2,3]}

my_dict2

{20: 'hi', 'name': 666, 1.5: ('yes', 'no'), 9: [1, 2, 3]}

In [4]:
# Count the total length of a dictionary

print(len(my_dict2))

4

In [11]:
# Update a dict

dict.update(my_dict2)

dict

{1: 'Python',
 2: 'Java',
 100: 'C++',
 20: 'hi',
 'name': 666,
 1.5: ('yes', 'no'),
 9: [1, 2, 3]}

In [12]:
# delete a dict

my_dict2

my_dict2.clear()

my_dict2

{}

#### Sets Types

##### Sets

In [16]:
#basics

# set of integers
e = {5, 7, 1, 2, 3}            
print(e)  

# set of mixed datatypes
f = {1.0, "Hello","Hello", 1.0, (1, 2, 3), (1, 2, 3)}  
print(f)

{1, 2, 3, 5, 7}
{1.0, 'Hello', (1, 2, 3)}

In [17]:
# No duplicates 

g = {1,1,2,2,2,3,4,5,6}

g

{1, 2, 3, 4, 5, 6}

In [18]:
# adding a variable

g.add(0.5)

g

{0.5, 1, 2, 3, 4, 5, 6}

In [20]:
# update a variable

g.update (f)

g

{(1, 2, 3), 0.5, 1, 2, 3, 4, 5, 6, 7, 'Hello'}

In [22]:
g.discard("Hello")
print(g)

{0.5, 1, 2, 3, 4, 5, 6, 7, (1, 2, 3)}

#### Boolean Types

##### Boolean

In [25]:
# Using Booleans

a = 10

x = "True" if a == 9 else "False"

x

'False'

In [34]:
a = True
b = False 
print(a and b)

False

# Operators in Python

#### Arithmetic operators

In [35]:
# Addition

i = 10
j = 5.5

i + j

15.5

In [36]:
# Multiplication

8 * j

44.0

In [37]:

i * j

55.0

In [38]:
# Division

i/j

1.8181818181818181

In [39]:
j/5

1.1

In [40]:
# Subtraction

j - i

-4.5

In [42]:
# Floor Division

i // j

1.0

In [43]:
#  Modulo

j%i

5.5

In [44]:
#  Exponentiation

i ** 2

100

#### Comparison operators

In [45]:
print('i > j is',i>j)

i > j is True

In [46]:
i == j

False

In [47]:
i < j

False

#### Logical operators

In [48]:
print('j is not 10 is', j is not 10)

j is not 10 is True

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\HP\AppData\Local\Temp\ipykernel_18720\1814503997.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('j is not 10 is', j is not 10)

In [50]:
print ('j and i is', j or i > 10)

j and i is 5.5

In [51]:
print ('1 is not 2', 1 is not 2)

1 is not 2 True

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\HP\AppData\Local\Temp\ipykernel_18720\2135092354.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print ('1 is not 2', 1 is not 2)

#### Assignment operators

In [52]:
x = 123
x

123

In [56]:
a += 5

a

16

In [60]:
a = 1

In [62]:
a *= 5
a

25

# Interactive Scripting

In [64]:
# Calculate pay of the person

a = float(input("Enter Hours:"))
b = float(input("Rate per Hour:"))

v = a * b

print ("Your daily earnings is", v)

Enter Hours:2
Rate per Hour:50
Your daily earnings is 100.0

In [65]:
a = float(input("Enter the number of years you lived:"))

lived = a * 31536000

print ("You have lived for", lived, ' seconds')

Enter the number of years you lived:10
You have lived for 315360000.0  seconds

## Looping

A loop allows us to repeat a piece of code multiple times.

In [67]:
## for loops

for i in range (1, 7):
    print (i)

1
2
3
4
5
6

In [68]:
numlist = [1, 3, 5, 8, 7] 
search_for = 8
num = str(input("Enter the number:"))


for num in numlist: 
    if num == search_for: 
        print("Found!")
    else:
        print(f"Number is {num}, it does not match the criteria: {search_for}")

Enter the number:9
Number is 1, it does not match the criteria: 8
Number is 3, it does not match the criteria: 8
Number is 5, it does not match the criteria: 8
Found!
Number is 7, it does not match the criteria: 8

In [71]:
# while looping

count = 1
while count <= 100:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

#### Interactive Looping

In [73]:
import random as r

In [75]:
target = r.randint(1,10)


while True:
    guess = input("Guess a number between 1 and 10: " )
    if not guess.isdigit():
        print("Please enter a valid number.")
        continue
    guess = int(guess)
    if guess < target:
        print("Higher!")
    elif guess > target:
        print("Lower!")
    else:
        print("Amazing! You've found the number!")
        break

Guess a number between 1 and 10: 5
Lower!
Guess a number between 1 and 10: and
Please enter a valid number.
Guess a number between 1 and 10: and
Please enter a valid number.
Guess a number between 1 and 10: 1000
Lower!
Guess a number between 1 and 10: 1
Higher!
Guess a number between 1 and 10: 2
Amazing! You've found the number!

In [ ]:
---- END ----